<footer class="ltn__footer-area  ">
    <div class="footer-top-area  section-bg-2 plr--5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-about-widget">
                        <div class="footer-logo">
                            <div class="site-logo">
                                <img src="../img/logo-2.png" alt="Abaküs Yazılım">
                            </div>
                        </div>
                        <p>Abaküs Yazılım Web Tasarım, Web Geliştirme ve Arama Motoru Optimizasyonu gibi farklı hizmetler sunmak için deneyimli ve uzman ekibiyle sizlerin hizmetindedir.</p>
                        <div class="footer-address">
                            <ul>
                                <!-- <li>
                                    <div class="footer-address-icon">
                                        <i class="icon-placeholder"></i>
                                    </div>
                                    <div class="footer-address-info">
                                        <p>Brooklyn, New York, United States</p>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="footer-address-icon">
                                        <i class="icon-call"></i>
                                    </div>
                                    <div class="footer-address-info">
                                        <p><a href="tel:+905079600415">+90 507 960 04 15</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="footer-address-icon">
                                        <i class="icon-mail"></i>
                                    </div>
                                    <div class="footer-address-info">
                                        <p><a href="mailto:example@example.com">info@abakusyazilim.com</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ltn__social-media mt-20">
                            <ul>
                                <%- include('social_media')  %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-menu-widget clearfix">
                        <h4 class="footer-title">Site Haritası</h4>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/">Anasayfa</a></li>
                                <li><a href="/hakkimizda">Hakkımızda</a></li>
                                <li><a href="/hizmetlerimiz">Hizmetlerimiz</a></li>
                                <!-- <li><a href="/blog">Blog</a></li> -->
                                <li><a href="/iletisim">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-menu-widget clearfix">
                        <h4 class="footer-title">Hizmetlerimiz</h4>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Web Tasarım</a></li>
                                <li><a href="#">Özel Yazılım Geliştirme</a></li>
                                <li><a href="#">Hosting ve Mail Hizmeti</a></li>
                                <li><a href="#">Seo Optimizasyonu</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 col-md-6 col-sm-6 col-12">
                    <!-- <div class="footer-widget footer-menu-widget clearfix">
                        <h4 class="footer-title">Blog</h4>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="account.html">My account</a></li>
                                <li><a href="wishlist.html">Wish List</a></li>
                                <li><a href="order-tracking.html">Order tracking</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12 col-12">
                    <div class="footer-widget footer-newsletter-widget">
                        <h4 class="footer-title">Bülten</h4>
                        <p>Haftalık Bültenimize abone olun ve e-posta yoluyla güncellemeler alın.</p>
                        <div class="footer-newsletter">
                            <form action="#">
                                <input type="email" name="email" placeholder="E-Posta Adresiniz*">
                                <div class="btn-wrapper">
                                    <button class="theme-btn-1 btn" type="submit"><i class="fas fa-location-arrow"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ltn__copyright-area ltn__copyright-2 section-bg-7  plr--5">
        <div class="container-fluid ltn__border-top-2">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="ltn__copyright-design clearfix">
                        <p>Tüm Hakları Saklıdır. @ Abaküs Yazılım 2023</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 align-self-center">
                    <div class="ltn__copyright-menu text-right">
                        <ul>
                            <li><a href="#">Şartlar ve Koşullar</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>