<div class="col-md-7">
    <div class="ltn__top-bar-menu">
        <ul>
            <li><a href="mailto:info@webmail.com?Subject=Flower%20greetings%20to%20you"><i class="icon-mail"></i> info@abakusyazilim.com</a></li>
            <li><a href="tel:+905079600415"><i class="icon-call"></i> +90 507 960 04 15</a></li>
        </ul>
    </div>
</div>
<div class="col-md-5">
    <div class="top-bar-right text-right">
        <div class="ltn__top-bar-menu">
            <ul>
                <li>
                    <!-- ltn__social-media -->
                    <div class="ltn__social-media">
                        <ul>
                            <li><a href="#" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>