<li><a href="/">Anasayfa</a></li>
<li><a href="/hakkimizda">Hakkımızda</a></li>
<li><a href="/hizmetlerimiz">Hizmetlerimiz</a>
    <ul>
        <li><a href="/web-tasarim">Web Tasarım</a></li>
        <li><a href="/yazilim-gelistirme">Yazılım Geliştirme</a></li>
        <li><a href="/hosting-ve-mail-hizmeti">Hosting ve Mail Hizmeti</a></li>
        <li><a href="/seo-optimizasyonu">Seo Optimizasyonu</a></li>
    </ul>
</li>
<li><a href="/blog">Blog</a></li>
<li><a href="/iletisim">İletişim</a></li>
<li class="special-link">
    <a href="/iletisim">Teklif Alın</a>
</li>