<li><a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
<li><a href="#" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>